{% extends "base.html" %}
{% load static %}

{% block title %}Services | Super Hair Braiding{% endblock title %}

{% block body %}
<div class="inner-page-overlay-wrapper" style="background-image: url('{{ background.background_image.url }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>{{background.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section section-md bg-default service-panel-pro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <h4>{{background.subtitle}}</h4>
                <p style="text-align: left;">
                    {{background.description|safe}}
                </p>
                <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                    <ul class="tabs">
                        {% for category in categories %}
                            <li class="{% if forloop.first %}active-tab{% endif %}">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="tabs-content">
                        {% for category in categories %}
                            <li style="{% if not forloop.first %}display: none;{% endif %}">
                                <p class="text-left">{{ category.description }}</p>
                                <div class="table-custom-responsive">
                                    <table class="table-custom table-custom-secondary">
                                        <thead>
                                            <tr>
                                                <th>Model</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for service in category.services.all %}
                                                <tr>
                                                    <td>{{ service.name }}</td>
                                                    <td>{{ service.price }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr></tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script>
    $(function () {
        var activeIndex = $('.active-tab').index(),
            $contentlis = $('.tabs-content li'),
            $tabslis = $('.tabs li');

        // Show content of active tab on loads
        $contentlis.eq(activeIndex).show();

        $('.tabs').on('click', 'li', function (e) {
            var $current = $(e.currentTarget),
                index = $current.index();

            $tabslis.removeClass('active-tab');
            $current.addClass('active-tab');
            $contentlis.hide().eq(index).show();
        });
    });
</script>
<script>
    const items = document.querySelectorAll('.accordion button');

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach((item) => item.addEventListener('click', toggleAccordion));
</script>
{% endblock scripts %}
